[submodule "wbml-attack"]
	path = wbml-attack
	url = https://github.com/AkashGhosh/When-Background-Matters-Breaking-Medical-Vision-Language-Models-by-Transferable-Attack.git
[submodule "UniMed-CLIP"]
	path = UniMed-CLIP
	url = https://github.com/mbzuai-oryx/UniMed-CLIP.git
